.site-footer {
    &.main-footer {
        background-color: $white;
        color: $primary-color;
        padding-top: 75px;
        @include max-mq ($ls) {
            padding-top: 50px;
        }
        @include max-mq ($mb) {
            padding-top: 34px;
        }
        a {
            color: $primary-color;
        }
    }
    .contact-list {
        @include max-mq ($md) {
            text-align: center;
        }
        .logo-footer {
            max-width: 260px;
            @include max-mq ($md) {
                max-width: 200px;
            }
        }
    }
    .keto-contact-details {
        max-width: 300px;
        padding-top: 29px;
        @include max-mq ($md) {
            max-width: 100%;
        }
        p {
            margin-bottom: 0.8em;
        }
    }
    .copyright-info {
        align-items: center;
        > div {
            @include max-mq ($md) {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }
        }
        
    }
    .copyright-info-nav-menu {
        padding-left: 0;
        list-style: none;
        text-align: right;
        @include max-mq ($md) {
            text-align: center;
        }
        li {
            display: inline-block;
            vertical-align: middle;
            margin-left: 20px;
            &:first-of-type {
                margin-left: 0;
            }
            a {
                text-decoration: underline;
                font-size: 15px;
            }
        }
    }
    .footer-widgets {
        padding-bottom: 85px;
        align-items: center;
        @include max-mq ($ls) {
            padding-bottom: 50px;
        }
        @include max-mq ($mb) {
            padding-bottom: 41px;
        }
        > div {
            @include max-mq ($md) {
                flex: 0 0 100%;
                max-width: 100%;
                text-align: center;
            }  
        }
    }
    .footer-text-description {
        padding-top: 80px;
        @include max-mq ($md) {
            padding-top: 0;
        }
    }
    .footer-info-wrapper {
        border-top: 1px solid $tertiary-color;
        padding-bottom: 10px;
        padding-top: 10px;
        ul,
        p {
            margin: 0;
        }
    }
}