@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap');
/*Restore this one start*/
@font-face {
    font-family: 'Bell Gothic Std';
    src: url('/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.eot');
    src: url('/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.eot?#iefix') format('embedded-opentype'),
        url('/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.woff2') format('woff2'),
        url('/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.woff') format('woff'),
        url('/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'MagdaClean';
    src: url('/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.eot');
    src: url('/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.eot?#iefix') format('embedded-opentype'),
        url('/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.woff2') format('woff2'),
        url('/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.woff') format('woff'),
        url('/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
/*Restore this one end*/

/*Dev fonts start*/
// @font-face {
//     font-family: 'Bell Gothic Std';
//     src: url('assets/fonts/BellGothicStd-Black/BellGothicStd-Black.eot');
//     src: url('assets/fonts/BellGothicStd-Black/BellGothicStd-Black.eot?#iefix') format('embedded-opentype'),
//         url('assets/fonts/BellGothicStd-Black/BellGothicStd-Black.woff2') format('woff2'),
//         url('assets/fonts/BellGothicStd-Black/BellGothicStd-Black.woff') format('woff'),
//         url('assets/fonts/BellGothicStd-Black/BellGothicStd-Black.ttf') format('truetype');
//     font-weight: 900;
//     font-style: normal;
//     font-display: swap;
// }

// @font-face {
//     font-family: 'MagdaClean';
//     src: url('assets/fonts/MagdaClean-Regular/MagdaClean-Regular.eot');
//     src: url('assets/fonts/MagdaClean-Regular/MagdaClean-Regular.eot?#iefix') format('embedded-opentype'),
//         url('assets/fonts/MagdaClean-Regular/MagdaClean-Regular.woff2') format('woff2'),
//         url('assets/fonts/MagdaClean-Regular/MagdaClean-Regular.woff') format('woff'),
//         url('assets/fonts/MagdaClean-Regular/MagdaClean-Regular.ttf') format('truetype');
//     font-weight: 500;
//     font-style: normal;
//     font-display: swap;
// }
/*Dev fonts end*/