/**
* IMPORTS
*/
/* 0. RESET CSS */
/* 1. Config */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap");
@font-face {
  font-family: 'Bell Gothic Std';
  src: url("assets/fonts/BellGothicStd-Black/BellGothicStd-Black.eot");
  src: url("assets/fonts/BellGothicStd-Black/BellGothicStd-Black.eot?#iefix") format("embedded-opentype"), url("assets/fonts/BellGothicStd-Black/BellGothicStd-Black.woff2") format("woff2"), url("assets/fonts/BellGothicStd-Black/BellGothicStd-Black.woff") format("woff"), url("assets/fonts/BellGothicStd-Black/BellGothicStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MagdaClean';
  src: url("assets/fonts/MagdaClean-Regular/MagdaClean-Regular.eot");
  src: url("assets/fonts/MagdaClean-Regular/MagdaClean-Regular.eot?#iefix") format("embedded-opentype"), url("assets/fonts/MagdaClean-Regular/MagdaClean-Regular.woff2") format("woff2"), url("assets/fonts/MagdaClean-Regular/MagdaClean-Regular.woff") format("woff"), url("assets/fonts/MagdaClean-Regular/MagdaClean-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 2. Partials */
/* 3. General */
.left-calc {
  padding-left: calc(50vw - ( 1440px / 2 ) + 10px);
}

@media (max-width: 1290px) {
  .left-calc {
    padding-left: 15px;
  }
}

.right-calc {
  padding-right: calc(50vw - ( 1440px / 2 ) + 5px);
}

@media (max-width: 1290px) {
  .right-calc {
    padding-right: 15px;
  }
}

body {
  font-size: 15px;
}

body p {
  font-size: 1em;
  line-height: 1.5;
  font-size: 15px;
}

body a {
  font-size: 15px;
}

html body,
html div,
html p,
html li,
html input,
html textarea,
html blockquote,
html q {
  font-family: "Open Sans", sans-serif;
}

.content-label {
  display: block;
  font-family: #F6F6F6;
  font-weight: 400;
  padding-bottom: 15px;
  text-transform: uppercase;
}

#upsell-modal .modal-content {
  background-color: transparent;
  z-index: 1;
}

@media (min-width: 2590px) {
  #upsell-modal .modal-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#upsell-modal.modal.show {
  background: #FFC3DC;
  background: -webkit-repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
  background: repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
}

.relative {
  position: relative;
}

@media (min-width: 1450px) {
  .container {
    max-width: 1440px;
  }
}

.white-content {
  color: #ffffff;
}

.text-secondary-color {
  color: #F6F6F6;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body h1 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 400;
  line-height: 1.1;
  letter-spacing: 0;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  body h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 400px) {
  body h1 {
    font-size: 1.65em;
  }
}

body h2 {
  font-family: "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 0.5em;
}

@media (max-width: 1199px) {
  body h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 400px) {
  body h2 {
    font-size: 1.65em;
  }
}

body h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

body h4 {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

.navbar {
  background-color: #ffffff;
  padding-bottom: 19px;
  padding-top: 19px;
}

.navbar .navbar-nav {
  padding: 0;
}

.navbar .navbar-brand {
  max-width: 260px;
}

@media (max-width: 420px) {
  .navbar .navbar-brand {
    max-width: 210px;
  }
}

nav.navbar ul.navbar-nav#top-menu li a {
  font-size: 16px !important;
  padding: 15px 15px;
}

nav.navbar ul.navbar-nav#top-menu li:last-of-type a {
  border: 1px solid #1D1D1B;
  background-color: #1D1D1B;
  color: #ffffff !important;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav.navbar ul.navbar-nav#top-menu li:last-of-type a:hover {
  background-color: #ffffff;
  color: #1D1D1B !important;
  text-decoration: none;
}

nav.navbar ul.navbar-nav li a {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #1D1D1B !important;
}

nav.navbar ul.navbar-nav li a:hover {
  text-decoration: underline;
}

.site-footer.main-footer {
  background-color: #ffffff;
  color: #1D1D1B;
  padding-top: 75px;
}

@media (max-width: 1280px) {
  .site-footer.main-footer {
    padding-top: 50px;
  }
}

@media (max-width: 576px) {
  .site-footer.main-footer {
    padding-top: 34px;
  }
}

.site-footer.main-footer a {
  color: #1D1D1B;
}

@media (max-width: 991px) {
  .site-footer .contact-list {
    text-align: center;
  }
}

.site-footer .contact-list .logo-footer {
  max-width: 260px;
}

@media (max-width: 991px) {
  .site-footer .contact-list .logo-footer {
    max-width: 200px;
  }
}

.site-footer .keto-contact-details {
  max-width: 300px;
  padding-top: 29px;
}

@media (max-width: 991px) {
  .site-footer .keto-contact-details {
    max-width: 100%;
  }
}

.site-footer .keto-contact-details p {
  margin-bottom: 0.8em;
}

.site-footer .copyright-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .site-footer .copyright-info > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.site-footer .copyright-info-nav-menu {
  padding-left: 0;
  list-style: none;
  text-align: right;
}

@media (max-width: 991px) {
  .site-footer .copyright-info-nav-menu {
    text-align: center;
  }
}

.site-footer .copyright-info-nav-menu li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.site-footer .copyright-info-nav-menu li:first-of-type {
  margin-left: 0;
}

.site-footer .copyright-info-nav-menu li a {
  text-decoration: underline;
  font-size: 15px;
}

.site-footer .footer-widgets {
  padding-bottom: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .site-footer .footer-widgets {
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .site-footer .footer-widgets {
    padding-bottom: 41px;
  }
}

@media (max-width: 991px) {
  .site-footer .footer-widgets > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.site-footer .footer-text-description {
  padding-top: 80px;
}

@media (max-width: 991px) {
  .site-footer .footer-text-description {
    padding-top: 0;
  }
}

.site-footer .footer-info-wrapper {
  border-top: 1px solid #A7A7A7;
  padding-bottom: 10px;
  padding-top: 10px;
}

.site-footer .footer-info-wrapper ul,
.site-footer .footer-info-wrapper p {
  margin: 0;
}

/* 4. Elements */
.button {
  border-radius: 0;
  border: 1px solid;
  display: inline-block;
  font-family: "Roboto", sans-serif;
  font-size: 0.98em;
  font-weight: 900;
  padding: 11px 26px;
  text-decoration: none !important;
  text-transform: uppercase;
  -webkit-transition: all .5s;
  transition: all .5s;
  vertical-align: middle;
  letter-spacing: 0;
}

.button.button-large-p {
  padding: 15px 71px;
}

.button.button-white {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1D1D1B;
}

.button.button-white:hover {
  background-color: #1D1D1B;
  border-color: #1D1D1B;
  color: #ffffff;
}

.button.button-transparent {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.button.button-transparent:hover {
  background-color: #ffffff;
  border-color: #1D1D1B;
  color: #1D1D1B;
}

.button.button-primary {
  background-color: #1D1D1B;
  border: 1px solid #1D1D1B;
  color: #ffffff;
}

.button.button-primary:hover {
  background-color: #ffffff;
  color: #1D1D1B;
}

.button.button-secondary {
  background-color: #F6F6F6;
  border-color: #F6F6F6;
  color: #ffffff;
}

.button.button-secondary:hover {
  background-color: #1D1D1B;
  border-color: #1D1D1B;
  color: #ffffff;
}

.btn-checkout-primary {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
}

.btn-checkout-primary:hover {
  background-color: #ffffff;
  color: #F6F6F6 !important;
}

.btn-outline-primary {
  background-color: #F6F6F6;
  color: #ffffff;
  border-color: #F6F6F6;
  text-transform: uppercase;
  font-size: 1em;
}

.best-value .btn-outline-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1D1D1B;
}

.btn-outline-primary.btn-lg {
  padding: 1rem 0.7rem;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #1D1D1B;
  border-color: #1D1D1B;
}

body .form input,
body .form textarea,
body form input,
body form textarea {
  padding: 11px 24px;
  font-family: "Open Sans", sans-serif !important;
  border: 1px solid #A7A7A7;
  /*---- Placeholder ----*/
}

body .form input::-webkit-input-placeholder,
body .form textarea::-webkit-input-placeholder,
body form input::-webkit-input-placeholder,
body form textarea::-webkit-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input\:-moz-placeholder,
body .form textarea\:-moz-placeholder,
body form input\:-moz-placeholder,
body form textarea\:-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input::-moz-placeholder,
body .form textarea::-moz-placeholder,
body form input::-moz-placeholder,
body form textarea::-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input\:-ms-input-placeholder,
body .form textarea\:-ms-input-placeholder,
body form input\:-ms-input-placeholder,
body form textarea\:-ms-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input*::-webkit-input-placeholder,
body .form textarea*::-webkit-input-placeholder,
body form input*::-webkit-input-placeholder,
body form textarea*::-webkit-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input*:-moz-placeholder,
body .form textarea*:-moz-placeholder,
body form input*:-moz-placeholder,
body form textarea*:-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input*:-ms-input-placeholder,
body .form textarea*:-ms-input-placeholder,
body form input*:-ms-input-placeholder,
body form textarea*:-ms-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form .form__group,
body form .form__group {
  margin-bottom: 15px;
}

body .form .is-btn.btn--secondary,
body form .is-btn.btn--secondary {
  font-size: 0.98em;
  letter-spacing: 0.2px;
}

/* 4. Partials */
.hero-section {
  padding: 98px 0;
  min-height: 505px;
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1280px) {
  .hero-section {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
  .hero-section {
    padding-bottom: 75px;
    margin-top: 76px;
    min-height: 300px;
  }
}

@media (max-width: 576px) {
  .hero-section {
    padding: 80px 0 52px;
  }
}

.hero-content-text {
  padding-top: 0;
}

.hero-content-text .hero-text {
  padding-top: 7px;
  max-width: 450px;
}

@media (max-width: 1280px) {
  .hero-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button-wrap {
  padding-top: 11px;
}

.hero-products-section {
  background-color: #F6F6F6;
  border: 1px solid #A7A7A7;
}

.hero-products-section .hero-products-item {
  border-right: 1px solid #A7A7A7;
}

@media (max-width: 767px) {
  .hero-products-section .hero-products-item {
    border-bottom: 1px solid #A7A7A7;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 350px) {
  .hero-products-section .hero-products-item {
    border-right: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .hero-products-section .hero-products-item:nth-child(2) {
    border-right: none;
  }
}

.hero-products-section .hero-products-item:last-child {
  border-right: none;
}

.hero-products-section .hero-products-item-inner {
  text-align: center;
}

.hero-products-section .hero-products-item-inner a {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.hero-products-section .hero-products-item-inner a:hover img {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
}

.hero-products-section .hero-products-item-inner a img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.why-keto-product-section-wrapper {
  padding-bottom: 77px;
  padding-top: 77px;
}

@media (max-width: 1280px) {
  .why-keto-product-section-wrapper {
    padding-bottom: 50px;
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .why-keto-product-section-wrapper {
    padding-bottom: 28px;
    padding-top: 30px;
  }
}

.why-keto-product-section-wrapper .why-product-text-section {
  padding-top: 18px;
}

@media (max-width: 1199px) {
  .why-keto-product-section-wrapper .why-keto-product-row {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.why-keto-product-section-wrapper .why-ket-slider-item {
  max-width: 655px;
}

.why-keto-product-section-wrapper .why-ket-slider-item p {
  max-width: 555px;
}

#howitworks, #promise {
  text-align: left;
}

.slider-section {
  background: #ffffff;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #ffffff), color-stop(50%, #F6F6F6));
  background: linear-gradient(to left, #ffffff 50%, #F6F6F6 50%);
}

@media (max-width: 800px) {
  .slider-section {
    background-image: none;
  }
}

.slider-section .slider-section-row > div {
  border-bottom: 1px solid #A7A7A7;
  border-top: 1px solid #A7A7A7;
  padding-top: 100px;
}

@media (max-width: 1280px) {
  .slider-section .slider-section-row > div {
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .slider-section .slider-section-row > div {
    padding-top: 43px;
  }
}

@media (max-width: 800px) {
  .slider-section .slider-section-row > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.slider-section .product-slider-content {
  border-right: 1px solid #A7A7A7;
  padding-bottom: 100px;
}

@media (max-width: 1280px) {
  .slider-section .product-slider-content {
    padding-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .slider-section .product-slider-content {
    padding-bottom: 43px;
  }
}

@media (max-width: 800px) {
  .slider-section .product-slider-content {
    background-color: #F6F6F6;
    border-right: none;
  }
}

.slider-section .product-details-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-section .notice-message,
.slider-section .product-details-main-content {
  padding-left: 45px;
}

@media (min-width: 1440px) {
  .slider-section .notice-message,
  .slider-section .product-details-main-content {
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
  .slider-section .notice-message,
  .slider-section .product-details-main-content {
    padding-left: 15px;
  }
}

.slider-section .notice-message {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-top: 1px solid #A7A7A7;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: calc(100% + 30px);
}

.slider-section .notice-message p {
  margin: 0;
  padding-left: 15px;
}

@media (max-width: 767px) {
  .slider-section .notice-message p,
  .slider-section .product-details-main-content {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .slider-section .notice-message p,
  .slider-section .product-details-main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.slider-section .product-description-items {
  padding-bottom: 15px;
  padding-top: 25px;
}

@media (max-width: 1199px) {
  .slider-section .product-description-items {
    padding-top: 10px;
  }
}

.slider-section .product-slider-item {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.slider-section .slick-slide img {
  margin-left: auto;
  margin-right: auto;
}

.slider-section .slider-thumbnail-image-item {
  padding-left: 10px;
  padding-right: 10px;
}

.slider-section .slider-thumbnail-image-item.slick-current .slider-thumbnail-image {
  background-color: #D9D9D9;
}

.slider-section .slider-thumbnail-image-item:hover .slider-thumbnail-image {
  background-color: #D9D9D9;
}

.slider-section .slider-thumbnail-image-item .slider-thumbnail-image {
  border: 1px solid #D9D9D9;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.product-slider-nav {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.more-about-products-section,
.full-section-image-wrap {
  border-bottom: 1px solid #A7A7A7;
  padding-bottom: 82px;
  padding-top: 100px;
}

@media (max-width: 1280px) {
  .more-about-products-section,
  .full-section-image-wrap {
    padding-bottom: 45px;
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .more-about-products-section,
  .full-section-image-wrap {
    padding-bottom: 27px;
    padding-top: 40px;
  }
}

.more-about-products-section .main-heading,
.full-section-image-wrap .main-heading {
  max-width: 190px;
}

.more-about-products-section .more-about-row,
.full-section-image-wrap .more-about-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ourpromise .main-heading {
  max-width: 100%;
}

.full-section-image .full-section-image-wrap {
  padding-bottom: 100px;
}

@media (max-width: 1280px) {
  .full-section-image .full-section-image-wrap {
    padding-bottom: 45px;
  }
}

@media (max-width: 576px) {
  .full-section-image .full-section-image-wrap {
    padding-bottom: 40px;
  }
}

.full-section-image .full-section-image-wrap img {
  margin: 0 auto;
  display: block;
}

.contact-us-section {
  background-color: #F6F6F6;
  padding-bottom: 100px;
  padding-top: 100px;
}

@media (max-width: 1280px) {
  .contact-us-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .contact-us-section {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.contact-us-section form {
  padding-top: 8px;
}

.contact-us-section .contact-us-form-inner {
  max-width: 450px;
}

.contact-us-section .contact-us-form-inner .form__group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.contact-us-section .btn--secondary {
  background-color: #1D1D1B;
  border: 1px solid #1D1D1B;
  color: #ffffff;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-us-section .btn--secondary:hover {
  background-color: #ffffff;
  color: #1D1D1B;
}

#what {
  min-height: auto;
}

.footer-bs {
  padding-bottom: 100px;
}

.footer-social > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}

@media (max-width: 767px) {
  .footer-social > div {
    margin: 0 7px 0 0;
  }
}

.footer-social a {
  color: #0D85FE;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer-social a:hover {
  color: #1D1D1B;
}

.footer-brand p {
  margin: 0;
}

/* 5. Plugins */
.tab-nav-items {
  list-style: none;
  padding-left: 0;
}

.tab-nav-items li {
  border-bottom: 1px solid;
  padding: 10px 25px 10px 1px;
  position: relative;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tab-nav-items li.active {
  opacity: 1;
}

.tab-nav-items li:hover {
  cursor: pointer;
  opacity: 1;
}

.tab-nav-items li p {
  margin: 0;
}

.tab-nav-items li i {
  position: absolute;
  right: 8px;
  height: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 767px) {
  .tab-nav-items li i {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.tab-nav-items li i img {
  display: block;
  margin: 0;
}

.tab-nav-items li a {
  font-family: #F6F6F6;
  font-weight: 400;
  text-transform: uppercase;
  color: #1D1D1B;
}

.tabs {
  padding-top: 24px;
}

@media (min-width: 1199px) {
  #tabs-content {
    padding-left: 35px;
  }
}

.tab-content {
  position: relative;
}

.product-slider-for {
  padding-bottom: 0;
  margin-bottom: 45px;
}

@media (max-width: 576px) {
  .product-slider-for {
    margin-bottom: 15px;
  }
}

.product-slider-for .slick-arrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6 !important;
  border-radius: 50%;
  border: none;
  bottom: 0;
  color: #1D1D1B !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  background-image: none !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  width: 44px;
  z-index: 9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-slider-for .slick-arrow:hover {
  background-color: #1D1D1B !important;
  color: #ffffff !important;
}

.product-slider-for .slick-arrow:hover i {
  color: #ffffff;
}

.slider-counter-content .product-slider-for .slick-arrow {
  bottom: -9px;
  top: auto;
}

.product-slider-for .slick-arrow i {
  position: relative;
  font-size: 33px;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.product-slider-for .slick-arrow.slick-prev {
  left: 0;
}

.slider-counter-content .product-slider-for .slick-arrow.slick-prev {
  left: 80px;
  top: auto;
}

@media (max-width: 800px) {
  .slider-counter-content .product-slider-for .slick-arrow.slick-prev {
    left: 0;
  }
}

.product-slider-for .slick-arrow.slick-prev i {
  left: -2px;
}

.product-slider-for .slick-arrow.slick-next {
  right: 0;
}

.product-slider-for .slick-arrow.slick-next i {
  right: -2px;
}

.slider-counter-content .product-slider-for .slick-arrow.slick-next {
  left: 130px;
  right: auto;
}

@media (max-width: 800px) {
  .slider-counter-content .product-slider-for .slick-arrow.slick-next {
    left: 50px;
  }
}

.product-slider-for .slick-arrow.slick-disabled {
  cursor: no-drop;
  color: #9D9DC1;
  background-color: transparent;
}

.product-slider-for .slick-arrow.slick-disabled:hover i {
  color: #9D9DC1;
}
/*# sourceMappingURL=style.css.map */