body {
    .form,
    form {
        input,
        textarea {
            padding: 11px 24px;
            font-family: $primary-font !important;
            border: 1px solid $tertiary-color;
            /*---- Placeholder ----*/
            &::-webkit-input-placeholder {
                color: $tertiary-color !important;
                opacity: 1;
            }
            &\:-moz-placeholder {
                color: $tertiary-color !important;
                opacity: 1;
            }
            &::-moz-placeholder {
                color: $tertiary-color !important;
                opacity: 1;
            }
            &\:-ms-input-placeholder {
                color: $tertiary-color !important;
                opacity: 1;
            }
            &*::-webkit-input-placeholder {
                color: $tertiary-color !important;
                opacity: 1;
            }
            &*:-moz-placeholder {
                color: $tertiary-color !important;
                opacity: 1;
            }
            &*:-ms-input-placeholder {
                color: $tertiary-color !important;
                opacity: 1;
            }
        }
        .form__group {
            margin-bottom: 15px;
        }
        .is-btn {
            &.btn--secondary {
                font-size: $font-size-base - 0.02;
                letter-spacing: 0.2px;
            }
        }
    }
}

