/**
* IMPORTS
*/
/* 0. RESET CSS */
/* 1. Config */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Roboto:wght@300;400&display=swap");
@font-face {
  font-family: 'Bell Gothic Std';
  src: url("/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.eot");
  src: url("/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.eot?#iefix") format("embedded-opentype"), url("/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.woff2") format("woff2"), url("/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.woff") format("woff"), url("/theme/Public/font/BellGothicStd-Black/BellGothicStd-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'MagdaClean';
  src: url("/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.eot");
  src: url("/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.eot?#iefix") format("embedded-opentype"), url("/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.woff2") format("woff2"), url("/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.woff") format("woff"), url("/theme/Public/font/MagdaClean-Regular/MagdaClean-Regular.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

/* 2. Partials */
/* 3. General */
.left-calc {
  padding-left: calc(50vw - ( 1440px / 2 ) + 10px);
}

@media (max-width: 1290px) {
  .left-calc {
    padding-left: 15px;
  }
}

.right-calc {
  padding-right: calc(50vw - ( 1440px / 2 ) + 5px);
}

@media (max-width: 1290px) {
  .right-calc {
    padding-right: 15px;
  }
}

.single-post-page .social-share-options {
  left: calc(50vw - ( 1440px / 2 ) + 30px);
}

@media (max-width: 1266px) {
  .single-post-page .social-share-options {
    left: 15px;
  }
}

@media (max-width: 576px) {
  .single-post-page .social-share-options {
    left: 0;
  }
}

body {
  font-size: 15px;
}

body p {
  font-size: 1em;
  line-height: 1.5;
  font-size: 15px;
}

body a {
  font-size: 15px;
}

html body,
html div,
html p,
html li,
html input,
html textarea,
html blockquote,
html q {
  font-family: "MagdaClean", "Open Sans", sans-serif;
}

.container-narrow {
  max-width: 980px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.content-label {
  display: block;
  font-family: #F6F6F6;
  font-weight: 900;
  padding-bottom: 15px;
  text-transform: uppercase;
}

.align-center {
  text-align: center;
}

#upsell-modal .modal-content {
  background-color: transparent;
  z-index: 1;
}

@media (min-width: 2590px) {
  #upsell-modal .modal-content {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

#upsell-modal.modal.show {
  background: #FFC3DC;
  background: -webkit-repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
  background: repeating-radial-gradient(ellipse farthest-corner at bottom right, #FFC3DC 0%, #97B5FC 100%);
}

.relative {
  position: relative;
}

@media (min-width: 1450px) {
  .container {
    max-width: 1440px;
  }
}

.white-content {
  color: #ffffff;
}

.text-secondary-color {
  color: #F6F6F6;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body h1 {
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: 0;
  text-transform: uppercase;
}

@media (max-width: 1199px) {
  body h1 {
    font-size: 1.75em;
  }
}

@media (max-width: 400px) {
  body h1 {
    font-size: 1.65em;
  }
}

body h2 {
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 0;
  margin-bottom: 0.5em;
}

@media (max-width: 1199px) {
  body h2 {
    font-size: 1.75em;
  }
}

@media (max-width: 400px) {
  body h2 {
    font-size: 1.65em;
  }
}

body h3 {
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
  font-weight: 900;
}

body h4 {
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 400;
  letter-spacing: 0;
}

.navbar {
  background-color: #ffffff;
  padding-bottom: 19px;
  padding-top: 19px;
}

.navbar .navbar-nav {
  padding: 0;
}

.navbar .navbar-brand {
  max-width: 260px;
}

@media (max-width: 420px) {
  .navbar .navbar-brand {
    max-width: 210px;
  }
}

nav.navbar {
  background-color: #ffffff !important;
}

nav.navbar ul.navbar-nav#top-menu li a {
  font-size: 16px !important;
  padding: 15px 15px;
}

nav.navbar ul.navbar-nav#top-menu li:last-of-type {
  margin-left: 10px;
}

nav.navbar ul.navbar-nav#top-menu li:last-of-type a {
  border: 1px solid #1D1D1B;
  background-color: #1D1D1B;
  color: #ffffff !important;
  padding-left: 22px;
  padding-right: 22px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

nav.navbar ul.navbar-nav#top-menu li:last-of-type a:hover {
  background-color: #ffffff;
  color: #1D1D1B !important;
  text-decoration: none;
}

nav.navbar ul.navbar-nav#top-menu li:last-of-type a.cart {
  padding-left: 35px;
  background-position: 7px 50%;
}

nav.navbar ul.navbar-nav li a {
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 900;
  color: #1D1D1B !important;
}

nav.navbar ul.navbar-nav li a:hover {
  text-decoration: underline;
}

.site-footer.main-footer {
  background-color: #ffffff;
  color: #1D1D1B;
  padding-top: 75px;
}

@media (max-width: 1280px) {
  .site-footer.main-footer {
    padding-top: 50px;
  }
}

@media (max-width: 576px) {
  .site-footer.main-footer {
    padding-top: 34px;
  }
}

.site-footer.main-footer a {
  color: #1D1D1B;
}

@media (max-width: 991px) {
  .site-footer .contact-list {
    text-align: center;
  }
}

.site-footer .contact-list .logo-footer {
  max-width: 260px;
}

@media (max-width: 991px) {
  .site-footer .contact-list .logo-footer {
    max-width: 200px;
  }
}

.site-footer .keto-contact-details {
  max-width: 300px;
  padding-top: 29px;
}

@media (max-width: 991px) {
  .site-footer .keto-contact-details {
    max-width: 100%;
  }
}

.site-footer .keto-contact-details p {
  margin-bottom: 0.8em;
}

.site-footer .copyright-info {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 991px) {
  .site-footer .copyright-info > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.site-footer .copyright-info-nav-menu {
  padding-left: 0;
  list-style: none;
  text-align: right;
}

@media (max-width: 991px) {
  .site-footer .copyright-info-nav-menu {
    text-align: center;
  }
}

.site-footer .copyright-info-nav-menu li {
  display: inline-block;
  vertical-align: middle;
  margin-left: 20px;
}

.site-footer .copyright-info-nav-menu li:first-of-type {
  margin-left: 0;
}

.site-footer .copyright-info-nav-menu li a {
  text-decoration: underline;
  font-size: 15px;
}

.site-footer .footer-widgets {
  padding-bottom: 85px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1280px) {
  .site-footer .footer-widgets {
    padding-bottom: 50px;
  }
}

@media (max-width: 576px) {
  .site-footer .footer-widgets {
    padding-bottom: 41px;
  }
}

@media (max-width: 991px) {
  .site-footer .footer-widgets > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
  }
}

.site-footer .footer-text-description {
  padding-top: 80px;
}

@media (max-width: 991px) {
  .site-footer .footer-text-description {
    padding-top: 0;
  }
}

.site-footer .footer-info-wrapper {
  border-top: 1px solid #A7A7A7;
  padding-bottom: 10px;
  padding-top: 10px;
}

.site-footer .footer-info-wrapper ul,
.site-footer .footer-info-wrapper p {
  margin: 0;
}

/* 4. Elements */
.link {
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0;
}

.link.link-primary {
  color: #1D1D1B;
}

.link.link-arrow-right:hover i {
  margin-left: 12px;
}

.link.link-arrow-right i {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-left: 8px;
}

.link.link-arrow-right img {
  margin: 0;
}

.is-btn {
  padding: 11px 26px;
}

.button {
  border-radius: 0;
  border: 1px solid;
  display: inline-block;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-size: 0.98em;
  font-weight: 900;
  padding: 11px 26px;
  text-decoration: none !important;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  vertical-align: middle;
  letter-spacing: 0;
}

.button.button-large-p {
  padding: 15px 71px;
}

.button.button-white {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1D1D1B;
}

.button.button-white:hover {
  background-color: #1D1D1B;
  border-color: #1D1D1B;
  color: #ffffff;
}

.button.button-white-primary {
  background-color: #ffffff;
  border-color: #1D1D1B;
  color: #1D1D1B;
}

.button.button-white-primary:hover {
  background-color: #1D1D1B;
  border-color: #1D1D1B;
  color: #ffffff;
}

.button.button-transparent {
  background-color: transparent;
  border-color: #ffffff;
  color: #ffffff;
}

.button.button-transparent:hover {
  background-color: #ffffff;
  border-color: #1D1D1B;
  color: #1D1D1B;
}

.button.button-primary {
  background-color: #1D1D1B;
  border: 1px solid #1D1D1B;
  color: #ffffff;
}

.button.button-primary:hover {
  background-color: #ffffff;
  color: #1D1D1B;
}

.button.button-secondary {
  background-color: #F6F6F6;
  border-color: #F6F6F6;
  color: #ffffff;
}

.button.button-secondary:hover {
  background-color: #1D1D1B;
  border-color: #1D1D1B;
  color: #ffffff;
}

.btn-checkout-primary {
  background-color: #F6F6F6;
  border: 1px solid #F6F6F6;
}

.btn-checkout-primary:hover {
  background-color: #ffffff;
  color: #F6F6F6 !important;
}

.btn-outline-primary {
  background-color: #F6F6F6;
  color: #ffffff;
  border-color: #F6F6F6;
  text-transform: uppercase;
  font-size: 1em;
}

.best-value .btn-outline-primary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #1D1D1B;
}

.btn-outline-primary.btn-lg {
  padding: 1rem 0.7rem;
}

.btn-outline-primary:hover {
  color: #ffffff;
  background-color: #1D1D1B;
  border-color: #1D1D1B;
}

.contact-us-form-inner .form label {
  display: none;
}

.sidebar-content input[type="checkbox"] {
  position: relative;
  top: 2px;
}

body .form input:not([type="checkbox"]):not([type="radio"]),
body .form textarea,
body form input:not([type="checkbox"]):not([type="radio"]),
body form textarea {
  padding: 11px 24px;
  font-family: "MagdaClean", "Open Sans", sans-serif !important;
  border: 1px solid #A7A7A7;
  display: block;
  width: 100%;
  /*---- Placeholder ----*/
}

body .form input:not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder,
body .form textarea::-webkit-input-placeholder,
body form input:not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder,
body form textarea::-webkit-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input:not([type="checkbox"]):not([type="radio"])\:-moz-placeholder,
body .form textarea\:-moz-placeholder,
body form input:not([type="checkbox"]):not([type="radio"])\:-moz-placeholder,
body form textarea\:-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input:not([type="checkbox"]):not([type="radio"])::-moz-placeholder,
body .form textarea::-moz-placeholder,
body form input:not([type="checkbox"]):not([type="radio"])::-moz-placeholder,
body form textarea::-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input:not([type="checkbox"]):not([type="radio"])\:-ms-input-placeholder,
body .form textarea\:-ms-input-placeholder,
body form input:not([type="checkbox"]):not([type="radio"])\:-ms-input-placeholder,
body form textarea\:-ms-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input:not([type="checkbox"]):not([type="radio"])*::-webkit-input-placeholder,
body .form textarea*::-webkit-input-placeholder,
body form input:not([type="checkbox"]):not([type="radio"])*::-webkit-input-placeholder,
body form textarea*::-webkit-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input:not([type="checkbox"]):not([type="radio"])*:-moz-placeholder,
body .form textarea*:-moz-placeholder,
body form input:not([type="checkbox"]):not([type="radio"])*:-moz-placeholder,
body form textarea*:-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form input:not([type="checkbox"]):not([type="radio"])*:-ms-input-placeholder,
body .form textarea*:-ms-input-placeholder,
body form input:not([type="checkbox"]):not([type="radio"])*:-ms-input-placeholder,
body form textarea*:-ms-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

body .form .form__group,
body form .form__group {
  margin-bottom: 15px;
}

body .form .is-btn.btn--secondary,
body form .is-btn.btn--secondary {
  font-size: 0.98em;
  letter-spacing: 0.2px;
}

body .form-control {
  border: 1px solid #A7A7A7;
  border-radius: 0;
}

#sidebar .sidebar-content select,
#sidebar .sidebar-content input[type=text],
#sidebar .sidebar-content input[type=number],
#sidebar .sidebar-content input[type=email] {
  padding: 11px 24px;
  font-family: "MagdaClean", "Open Sans", sans-serif !important;
  border: 1px solid #A7A7A7;
  display: block;
  font-weight: 400;
  font-size: 1em;
  border-radius: 0;
  width: 100%;
  /*---- Placeholder ----*/
}

#sidebar .sidebar-content select::-webkit-input-placeholder,
#sidebar .sidebar-content input[type=text]::-webkit-input-placeholder,
#sidebar .sidebar-content input[type=number]::-webkit-input-placeholder,
#sidebar .sidebar-content input[type=email]::-webkit-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#sidebar .sidebar-content select\:-moz-placeholder,
#sidebar .sidebar-content input[type=text]\:-moz-placeholder,
#sidebar .sidebar-content input[type=number]\:-moz-placeholder,
#sidebar .sidebar-content input[type=email]\:-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#sidebar .sidebar-content select::-moz-placeholder,
#sidebar .sidebar-content input[type=text]::-moz-placeholder,
#sidebar .sidebar-content input[type=number]::-moz-placeholder,
#sidebar .sidebar-content input[type=email]::-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#sidebar .sidebar-content select\:-ms-input-placeholder,
#sidebar .sidebar-content input[type=text]\:-ms-input-placeholder,
#sidebar .sidebar-content input[type=number]\:-ms-input-placeholder,
#sidebar .sidebar-content input[type=email]\:-ms-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#sidebar .sidebar-content select*::-webkit-input-placeholder,
#sidebar .sidebar-content input[type=text]*::-webkit-input-placeholder,
#sidebar .sidebar-content input[type=number]*::-webkit-input-placeholder,
#sidebar .sidebar-content input[type=email]*::-webkit-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#sidebar .sidebar-content select*:-moz-placeholder,
#sidebar .sidebar-content input[type=text]*:-moz-placeholder,
#sidebar .sidebar-content input[type=number]*:-moz-placeholder,
#sidebar .sidebar-content input[type=email]*:-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#sidebar .sidebar-content select*:-ms-input-placeholder,
#sidebar .sidebar-content input[type=text]*:-ms-input-placeholder,
#sidebar .sidebar-content input[type=number]*:-ms-input-placeholder,
#sidebar .sidebar-content input[type=email]*:-ms-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#add_comment form textarea.form-control,
#add_comment form input.form-control {
  padding: 11px 24px;
  font-family: "MagdaClean", "Open Sans", sans-serif !important;
  border: 1px solid #A7A7A7;
  opacity: 1;
  margin-bottom: 15px;
  margin-top: 0;
  /*---- Placeholder ----*/
}

#add_comment form textarea.form-control::-webkit-input-placeholder,
#add_comment form input.form-control::-webkit-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#add_comment form textarea.form-control\:-moz-placeholder,
#add_comment form input.form-control\:-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#add_comment form textarea.form-control::-moz-placeholder,
#add_comment form input.form-control::-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#add_comment form textarea.form-control\:-ms-input-placeholder,
#add_comment form input.form-control\:-ms-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#add_comment form textarea.form-control*::-webkit-input-placeholder,
#add_comment form input.form-control*::-webkit-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#add_comment form textarea.form-control*:-moz-placeholder,
#add_comment form input.form-control*:-moz-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#add_comment form textarea.form-control*:-ms-input-placeholder,
#add_comment form input.form-control*:-ms-input-placeholder {
  color: #A7A7A7 !important;
  opacity: 1;
}

#add_comment form button {
  background-color: #1D1D1B;
  background-image: none;
  border-radius: 0;
  border: 1px solid #1D1D1B;
  display: block;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-size: 0.98em;
  font-weight: 900;
  padding: 11px 26px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0;
  max-width: 100%;
  width: 100%;
}

#add_comment form button[type="submit"] {
  background-color: #1D1D1B;
  background-image: none;
  border-radius: 0;
  border: 1px solid #1D1D1B;
  display: block;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-size: 0.98em;
  font-weight: 900;
  padding: 11px 26px;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  letter-spacing: 0;
  max-width: 100%;
  width: 100%;
}

#add_comment form button[type="submit"]:hover {
  background-color: #ffffff;
  color: #1D1D1B;
}

.breadcrumbs-wrap a {
  color: #1D1D1B;
}

.breadcrumbs-wrap a, .breadcrumbs-wrap span {
  font-size: 0.8em;
  letter-spacing: -0.3px;
}

.nav-links {
  padding-bottom: 20px;
  padding-top: 7px;
  text-align: center;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.nav-links img {
  margin: 0;
}

.nav-links .page-numbers {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 50%;
  border: 2px solid transparent;
  color: #1D1D1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: inline-block;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 600;
  height: 31px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  line-height: 27px;
  margin: 0 1px;
  min-width: 31px;
  text-align: center;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.nav-links .page-numbers:hover, .nav-links .page-numbers.current {
  background-color: #1D1D1B;
  color: #ffffff;
  border-color: #1D1D1B;
  text-decoration: none;
}

.nav-links .page-numbers img {
  max-width: 8px;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
  vertical-align: middle;
}

.nav-links .page-numbers.prev, .nav-links .page-numbers.next {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: 1px solid #1D1D1B;
  color: #1D1D1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 41px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 26px;
  width: 41px;
}

.nav-links .page-numbers.prev:hover, .nav-links .page-numbers.next:hover {
  color: #2D4269;
  background-color: rgba(167, 167, 167, 0.6);
}

.nav-links .page-numbers.prev i, .nav-links .page-numbers.next i {
  display: inline-block;
  vertical-align: middle;
}

.single-post-page .social-share-options {
  position: absolute;
  z-index: 999;
  background-color: #ffffff;
  padding: 20px;
}

.social-share-options a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  border-radius: 50%;
  border: 1px solid #1D1D1B;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  margin-bottom: 15px;
}

.social-share-options a:last-child {
  margin-bottom: 0;
}

.social-share-options a:hover {
  background-color: #1D1D1B;
}

.social-share-options a:hover svg path {
  fill: #ffffff;
}

/* 4. Partials */
.hero-section {
  padding: 98px 0;
  min-height: 505px;
  margin-top: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 1280px) {
  .hero-section {
    min-height: 425px;
  }
}

@media (max-width: 991px) {
  .hero-section {
    padding-bottom: 75px;
    margin-top: 76px;
    min-height: 300px;
  }
}

@media (max-width: 576px) {
  .hero-section {
    padding: 80px 0 52px;
  }
}

.hero-section .hero-section-button-wrapper .button {
  padding-bottom: 10px;
  padding-top: 12px;
}

.blog-hero-section {
  margin-top: 85px;
  padding: 49px 0 47px;
}

@media (max-width: 991px) {
  .blog-hero-section {
    margin-top: 76px;
  }
}

@media (max-width: 576px) {
  .blog-hero-section {
    padding: 37px 0;
  }
}

.blog-hero-section .main-title {
  margin-bottom: 0.25rem;
}

.hero-content-text {
  padding-top: 0;
}

.hero-content-text .hero-text {
  padding-top: 7px;
  max-width: 450px;
}

@media (max-width: 1280px) {
  .hero-row {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.button-wrap {
  padding-top: 11px;
}

.hero-products-section {
  border: 1px solid #A7A7A7;
}

.hero-products-section + .contact-us-section {
  background-color: #ffffff;
  border-bottom: 1px solid #A7A7A7;
}

.hero-products-section .hero-products-item {
  background-color: #F6F6F6;
  border-right: 1px solid #A7A7A7;
  position: relative;
}

@media (max-width: 767px) {
  .hero-products-section .hero-products-item {
    border-bottom: 1px solid #A7A7A7;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

@media (max-width: 350px) {
  .hero-products-section .hero-products-item {
    border-right: none;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 767px) {
  .hero-products-section .hero-products-item:nth-child(2) {
    border-right: none;
  }
}

.hero-products-section .hero-products-item:last-child {
  border-right: none;
}

.hero-products-section .hero-products-item.has-price {
  border-top: 1px solid #A7A7A7;
  padding-bottom: 40px;
}

.hero-products-section .hero-products-item a {
  color: #1D1D1B;
  display: block;
}

.hero-products-section .hero-products-item a:hover .button-primary {
  background-color: #ffffff;
  color: #1D1D1B;
}

.hero-products-section .hero-products-item a .button-wrapper {
  position: absolute;
  bottom: 35px;
  left: 0;
  right: 0;
  text-align: center;
  width: 100%;
}

.hero-products-section .hero-products-item .text-wrapper {
  margin-left: auto;
  margin-right: auto;
  max-width: 90%;
  padding-bottom: 35px;
  padding-left: 15px;
  padding-right: 15px;
  width: 100%;
}

.hero-products-section .hero-products-item .text-wrapper .price {
  font-size: 1.2em;
}

.hero-products-section .hero-products-item .text-wrapper .title {
  font-family: "Bell Gothic Std", "Roboto", sans-serif !important;
  font-weight: 400;
  font-size: 1.65em;
}

.hero-products-section .hero-products-item-inner {
  text-align: center;
}

.hero-products-section .hero-products-item-inner a {
  display: block;
  margin-left: -15px;
  margin-right: -15px;
}

.hero-products-section .hero-products-item-inner a:hover img {
  -webkit-transform: scale(1.035);
          transform: scale(1.035);
}

.hero-products-section .hero-products-item-inner a img {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.why-keto-product-section-wrapper {
  padding-bottom: 77px;
  padding-top: 77px;
}

@media (max-width: 1280px) {
  .why-keto-product-section-wrapper {
    padding-bottom: 50px;
    padding-top: 40px;
  }
}

@media (max-width: 576px) {
  .why-keto-product-section-wrapper {
    padding-bottom: 28px;
    padding-top: 30px;
  }
}

.why-keto-product-section-wrapper .why-product-text-section {
  padding-top: 18px;
}

@media (max-width: 1199px) {
  .why-keto-product-section-wrapper .why-keto-product-row {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.why-keto-product-section-wrapper .why-ket-slider-item {
  max-width: 655px;
}

.why-keto-product-section-wrapper .why-ket-slider-item p {
  max-width: 555px;
}

#howitworks, #promise {
  text-align: left;
}

.slider-section {
  background: #ffffff;
  background: -webkit-gradient(linear, right top, left top, color-stop(50%, #ffffff), color-stop(50%, #F6F6F6));
  background: linear-gradient(to left, #ffffff 50%, #F6F6F6 50%);
}

@media (max-width: 800px) {
  .slider-section {
    background-image: none;
  }
}

.products .slider-section {
  background-image: none;
}

.slider-section .slider-section-row > div {
  border-bottom: 1px solid #A7A7A7;
  border-top: 1px solid #A7A7A7;
  padding-top: 100px;
}

@media (max-width: 1280px) {
  .slider-section .slider-section-row > div {
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .slider-section .slider-section-row > div {
    padding-top: 43px;
  }
}

@media (max-width: 800px) {
  .slider-section .slider-section-row > div {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    max-width: 100%;
  }
}

.slider-section .product-slider-content {
  border-right: 1px solid #A7A7A7;
  padding-bottom: 100px;
}

@media (max-width: 1280px) {
  .slider-section .product-slider-content {
    padding-bottom: 60px;
  }
}

@media (max-width: 576px) {
  .slider-section .product-slider-content {
    padding-bottom: 43px;
  }
}

@media (max-width: 800px) {
  .slider-section .product-slider-content {
    background-color: #F6F6F6;
    border-right: none;
  }
}

.slider-section .product-details-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.slider-section .notice-message,
.slider-section .product-details-main-content {
  padding-left: 45px;
}

@media (min-width: 1440px) {
  .slider-section .notice-message,
  .slider-section .product-details-main-content {
    padding-left: 60px;
  }
}

@media (max-width: 767px) {
  .slider-section .notice-message,
  .slider-section .product-details-main-content {
    padding-left: 15px;
  }
}

.slider-section .notice-message {
  -ms-flex-item-align: end;
      align-self: flex-end;
  border-top: 1px solid #A7A7A7;
  margin-left: -15px;
  margin-right: -15px;
  padding-bottom: 40px;
  padding-top: 40px;
  width: calc(100% + 30px);
}

.slider-section .notice-message p {
  margin: 0;
  padding-left: 15px;
}

@media (max-width: 767px) {
  .slider-section .notice-message p,
  .slider-section .product-details-main-content {
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 576px) {
  .slider-section .notice-message p,
  .slider-section .product-details-main-content {
    padding-left: 0;
    padding-right: 0;
  }
}

.slider-section .product-description-items {
  padding-bottom: 15px;
  padding-top: 25px;
}

@media (max-width: 1199px) {
  .slider-section .product-description-items {
    padding-top: 10px;
  }
}

.slider-section .product-slider-item {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
}

.slider-section .slick-slide img {
  margin-left: auto;
  margin-right: auto;
  max-width: 100%;
}

.slider-section .slider-thumbnail-image-item {
  padding-left: 10px;
  padding-right: 10px;
}

.slider-section .slider-thumbnail-image-item.slick-current .slider-thumbnail-image {
  background-color: #D9D9D9;
}

.slider-section .slider-thumbnail-image-item:hover .slider-thumbnail-image {
  background-color: #D9D9D9;
}

.slider-section .slider-thumbnail-image-item .slider-thumbnail-image {
  border: 1px solid #D9D9D9;
  padding: 10px 15px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.product-slider-nav {
  max-width: 550px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

.more-about-products-section,
.full-section-image-wrap {
  border-bottom: 1px solid #A7A7A7;
  padding-bottom: 82px;
  padding-top: 100px;
}

@media (max-width: 1280px) {
  .more-about-products-section,
  .full-section-image-wrap {
    padding-bottom: 45px;
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .more-about-products-section,
  .full-section-image-wrap {
    padding-bottom: 27px;
    padding-top: 40px;
  }
}

.more-about-products-section .main-heading,
.full-section-image-wrap .main-heading {
  max-width: 190px;
}

.more-about-products-section .more-about-row,
.full-section-image-wrap .more-about-row {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#ourpromise .main-heading {
  max-width: 100%;
}

.full-section-image .full-section-image-wrap {
  padding-bottom: 100px;
}

@media (max-width: 1280px) {
  .full-section-image .full-section-image-wrap {
    padding-bottom: 45px;
  }
}

@media (max-width: 576px) {
  .full-section-image .full-section-image-wrap {
    padding-bottom: 40px;
  }
}

.full-section-image .full-section-image-wrap img {
  margin: 0 auto;
  display: block;
}

.contact-us-section {
  background-color: #F6F6F6;
  padding-bottom: 100px;
  padding-top: 100px;
}

@media (max-width: 1280px) {
  .contact-us-section {
    padding-bottom: 60px;
    padding-top: 60px;
  }
}

@media (max-width: 576px) {
  .contact-us-section {
    padding-bottom: 40px;
    padding-top: 40px;
  }
}

.contact-us-section form {
  padding-top: 8px;
}

.contact-us-section .contact-us-form-inner {
  max-width: 450px;
}

.contact-us-section .contact-us-form-inner .form__group {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%;
}

.contact-us-section .btn--secondary {
  background-color: #1D1D1B;
  border: 1px solid #1D1D1B;
  color: #ffffff;
  width: 100%;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 900;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.contact-us-section .btn--secondary:hover {
  background-color: #ffffff;
  color: #1D1D1B;
}

#what {
  min-height: auto;
}

.our-products-page .main-heading {
  padding-bottom: 35px;
}

#product-page a#buy-now {
  line-height: initial;
}

#our-products .item a.buy-now {
  background-color: #1D1D1B;
  border-radius: 0;
  border: 1px solid #1D1D1B;
  color: #ffffff;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-size: 0.98em;
  font-weight: 900;
  line-height: initial;
  padding: 15px 26px;
  text-decoration: none !important;
  text-transform: uppercase;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

#our-products .item a.buy-now:hover {
  background-color: #ffffff;
  color: #1D1D1B;
}

#our-products .item h3.price {
  color: #1D1D1B;
}

body #product-page h1#name {
  font-size: 2em;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 900;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

body #product-page div#comment {
  color: #1D1D1B;
}

body #product-page .products a#buy-now {
  background-color: #1D1D1B;
  background-image: none;
  border: 1px solid #1D1D1B;
  border-radius: 0;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 400;
  padding: 15px 27px;
  margin-bottom: 15px;
  margin-top: 15px;
  display: inline-block;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

body #product-page .products a#buy-now:hover {
  background-color: #ffffff;
  color: #1D1D1B;
}

body #product-page .anchor_links_section {
  border-top: 1px solid #A7A7A7;
  margin-top: 20px;
}

body #product-page .p-icons {
  padding-top: 20px;
}

body #product-page .p-icons p {
  color: #1D1D1B;
  font-family: "MagdaClean", "Open Sans", sans-serif;
  font-weight: 400;
}

body .anchor_links {
  border-top: 1px solid #A7A7A7;
}

body .anchor_links a {
  color: #1D1D1B;
}

body .anchor_links a:hover {
  text-decoration: underline;
}

body #form-wrapper label {
  color: #1D1D1B;
}

body .title, body .subtitle {
  font-family: "Bell Gothic Std", "Roboto", sans-serif !important;
  font-weight: 400 !important;
  color: #1D1D1B;
  text-transform: uppercase;
}

#our-products h1.title {
  text-transform: uppercase;
}

#sidebar .sidebar-content h5 {
  font-family: "Bell Gothic Std", "Roboto", sans-serif !important;
  font-size: 1.2em;
  font-weight: 400 !important;
  text-transform: uppercase;
}

#sidebar .sidebar-content table thead tr th {
  font-family: "MagdaClean", "Open Sans", sans-serif;
  font-size: 1em;
}

.carousel .carousel-control-next-icon,
.carousel .carousel-control-prev-icon {
  width: 30px;
  height: 30px;
}

.shop-submit button#proceed, .shop-submit button[type="submit"] {
  background-color: #1D1D1B;
  background-image: none;
  border-radius: 0;
  border: 1px solid #1D1D1B;
  -webkit-box-shadow: none;
          box-shadow: none;
  display: inline-block;
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 400;
  height: auto;
  margin-bottom: 15px;
  margin-top: 15px;
  padding: 15px 26px;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  width: auto;
}

.shop-submit button#proceed:hover, .shop-submit button[type="submit"]:hover {
  background-color: #ffffff;
  color: #1D1D1B;
}

.how-it-works-section {
  background-color: #F6F6F6;
  padding-bottom: 80px;
  padding-top: 80px;
}

section .block h2 {
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-weight: 400 !important;
  color: #1D1D1B;
}

section .block .block-body {
  color: #1D1D1B;
}

#add_comment {
  padding: 60px 0;
}

#add_comment form {
  padding-top: 0;
}

#add_comment p.desc {
  color: #1D1D1B;
  font-weight: 400;
  margin-bottom: 15px;
}

#add_comment .starRating label.rate {
  color: #1D1D1B;
}

#sidebar .sidebar-header h2 {
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-size: 1.2em;
}

#form-wrapper label {
  font-family: "Bell Gothic Std", "Roboto", sans-serif;
  font-size: 0.875em;
}

.latest-blog-posts-section {
  border-bottom: 1px solid #A7A7A7;
  padding-bottom: 97px;
  padding-top: 97px;
}

.latest-blog-posts-items .button {
  max-width: 171px;
  width: 100%;
}

.latest-blog-posts-items-row {
  padding-bottom: 0;
  padding-top: 22px;
}

.latest-blog-posts-items-row .latest-blog-posts-item {
  padding-bottom: 20px;
}

.latest-blog-posts-items-row .latest-blog-posts-item .latest-blog-posts-item-inner {
  height: 100%;
  padding-bottom: 29px;
}

.latest-blog-posts-items-row .latest-blog-posts-item .latest-blog-posts-item-link {
  color: #1D1D1B;
  display: block;
  position: relative;
  padding-bottom: 19px;
  height: 100%;
  text-decoration: none;
}

.latest-blog-posts-items-row .latest-blog-posts-item .latest-blog-posts-item-link:hover .post-title {
  text-decoration: underline;
}

.latest-blog-posts-items-row .latest-blog-posts-item .latest-blog-posts-item-link:hover .link i {
  margin-left: 12px;
}

.latest-blog-posts-items-row .latest-blog-posts-item .latest-blog-posts-item-link:hover .latest-blog-post-featured-image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.latest-blog-posts-items-row .latest-blog-posts-item .latest-blog-post-featured-image-wrap {
  overflow: hidden;
}

.latest-blog-posts-items-row .latest-blog-posts-item .latest-blog-post-featured-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.latest-blog-posts-items-row .latest-blog-posts-item .latest-blog-post-date {
  border-bottom: 1px solid #1D1D1B;
  font-size: 0.8em;
  letter-spacing: -0.3px;
  padding: 16px 0 8px;
}

.latest-blog-posts-items-row .latest-blog-posts-item .post-heading {
  padding-top: 13px;
}

@media (min-width: 1440px) {
  .latest-blog-posts-items-row .latest-blog-posts-item .post-heading {
    padding-right: 60px;
  }
}

.latest-blog-posts-items-row .latest-blog-posts-item .post-title {
  font-size: 1.335em;
  text-transform: uppercase;
  letter-spacing: -0.2px;
  line-height: 1.4;
}

.latest-blog-posts-items-row .latest-blog-posts-item .read-more-link {
  position: absolute;
  bottom: 0;
  left: 0;
}

.featured-post-section + .latest-blog-posts-section {
  padding-bottom: 73px;
  padding-top: 78px;
}

.featured-blog-posts-item-link {
  color: #1D1D1B;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-decoration: none;
}

.featured-blog-posts-item-link:hover {
  color: #1D1D1B;
  text-decoration: none;
}

.featured-blog-posts-item-link:hover .post-title {
  text-decoration: underline;
}

.featured-blog-posts-item-link:hover .link i {
  margin-left: 12px;
}

.featured-blog-posts-item-link:hover .featured-blog-post-featured-image {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.featured-blog-posts-item-link .featured-blog-post-featured-image-wrap {
  overflow: hidden;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 49%;
          flex: 0 0 49%;
  max-width: 49%;
}

.featured-blog-posts-item-link .featured-blog-post-featured-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.featured-blog-posts-item-link .featured-blog-post-date-header-excerpt-button-wrap {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 51%;
          flex: 0 0 51%;
  max-width: 51%;
  padding-bottom: 50px;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 50px;
}

@media (min-width: 767px) {
  .featured-blog-posts-item-link .featured-blog-post-date-header-excerpt-button-wrap {
    padding-left: 35px;
    padding-right: 0;
  }
}

@media (min-width: 1440px) {
  .featured-blog-posts-item-link .featured-blog-post-date-header-excerpt-button-wrap {
    padding-left: 50px;
    padding-right: 0;
  }
}

.featured-blog-posts-item-link .post-heading {
  padding-top: 15px;
}

@media (min-width: 767px) {
  .featured-blog-posts-item-link .post-heading {
    max-width: 90%;
  }
}

@media (min-width: 1440px) {
  .featured-blog-posts-item-link .post-heading {
    max-width: 60%;
  }
}

.featured-blog-posts-item-link .featured-blog-post-date {
  border-bottom: 1px solid #1D1D1B;
  font-size: 0.8em;
  letter-spacing: -0.3px;
  padding: 16px 0 8px;
}

.featured-blog-posts-item-link .post-title {
  font-size: 2em;
  text-transform: uppercase;
  line-height: 1.3;
  letter-spacing: 0.5px;
}

.featured-blog-posts-item-link .post-excerpt-content p {
  letter-spacing: 0;
  line-height: 1.6;
}

.featured-blog-posts-item-link .read-more-link {
  padding-bottom: 18px;
  padding-top: 2px;
}

.footer-bs {
  padding-bottom: 100px;
}

.footer-social > div {
  display: inline-block;
  vertical-align: middle;
  margin: 0 7px;
}

@media (max-width: 767px) {
  .footer-social > div {
    margin: 0 7px 0 0;
  }
}

.footer-social a {
  color: #0D85FE;
  -webkit-transition: color 0.5s;
  transition: color 0.5s;
}

.footer-social a:hover {
  color: #1D1D1B;
}

.footer-brand p {
  margin: 0;
}

/* 5. Templates */
.single-post-page .single-post-featured-image {
  padding-bottom: 35px;
}

.single-post-page .single-post-featured-image img {
  display: block;
  margin-top: 0;
}

/* 6. Plugins */
.tab-nav-items {
  list-style: none;
  padding-left: 0;
}

.tab-nav-items li {
  border-bottom: 1px solid;
  padding: 10px 25px 10px 1px;
  position: relative;
  opacity: 0.7;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.tab-nav-items li.active {
  opacity: 1;
}

.tab-nav-items li:hover {
  cursor: pointer;
  opacity: 1;
}

.tab-nav-items li p {
  margin: 0;
}

.tab-nav-items li i {
  position: absolute;
  right: 8px;
  height: 14px;
  top: 0;
  bottom: 0;
  margin: auto;
}

@media (max-width: 767px) {
  .tab-nav-items li i {
    -webkit-transform: rotate(90deg);
            transform: rotate(90deg);
  }
}

.tab-nav-items li i img {
  display: block;
  margin: 0;
}

.tab-nav-items li a {
  font-family: #F6F6F6;
  font-weight: 900;
  text-transform: uppercase;
  color: #1D1D1B;
}

.tabs {
  padding-top: 24px;
}

@media (min-width: 1199px) {
  #tabs-content {
    padding-left: 35px;
  }
}

.tab-content {
  position: relative;
}

.single-post-slider,
.product-slider-for {
  padding-bottom: 0;
  margin-bottom: 45px;
}

@media (max-width: 576px) {
  .single-post-slider,
  .product-slider-for {
    margin-bottom: 15px;
  }
}

.single-post-slider .slick-arrow,
.product-slider-for .slick-arrow {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F6F6F6 !important;
  border-radius: 50%;
  border: none;
  bottom: 0;
  color: #1D1D1B !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 44px;
  background-image: none !important;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  padding: 0;
  position: absolute;
  top: 0;
  width: 44px;
  z-index: 9;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-post-slider .slick-arrow:hover,
.product-slider-for .slick-arrow:hover {
  background-color: #1D1D1B !important;
  color: #ffffff !important;
}

.single-post-slider .slick-arrow:hover i,
.product-slider-for .slick-arrow:hover i {
  color: #ffffff;
}

.slider-counter-content .single-post-slider .slick-arrow, .slider-counter-content
.product-slider-for .slick-arrow {
  bottom: -9px;
  top: auto;
}

.single-post-slider .slick-arrow i,
.product-slider-for .slick-arrow i {
  color: #1D1D1B;
  position: relative;
  font-size: 33px;
  z-index: 1;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.single-post-slider .slick-arrow.slick-prev,
.product-slider-for .slick-arrow.slick-prev {
  left: 0;
}

.slider-counter-content .single-post-slider .slick-arrow.slick-prev, .slider-counter-content
.product-slider-for .slick-arrow.slick-prev {
  left: 80px;
  top: auto;
}

@media (max-width: 800px) {
  .slider-counter-content .single-post-slider .slick-arrow.slick-prev, .slider-counter-content
  .product-slider-for .slick-arrow.slick-prev {
    left: 0;
  }
}

.single-post-slider .slick-arrow.slick-prev i,
.product-slider-for .slick-arrow.slick-prev i {
  left: -2px;
}

.single-post-slider .slick-arrow.slick-next,
.product-slider-for .slick-arrow.slick-next {
  right: 0;
}

.single-post-slider .slick-arrow.slick-next i,
.product-slider-for .slick-arrow.slick-next i {
  right: -2px;
}

.slider-counter-content .single-post-slider .slick-arrow.slick-next, .slider-counter-content
.product-slider-for .slick-arrow.slick-next {
  left: 130px;
  right: auto;
}

@media (max-width: 800px) {
  .slider-counter-content .single-post-slider .slick-arrow.slick-next, .slider-counter-content
  .product-slider-for .slick-arrow.slick-next {
    left: 50px;
  }
}

.single-post-slider .slick-arrow.slick-disabled,
.product-slider-for .slick-arrow.slick-disabled {
  cursor: no-drop;
  color: #9D9DC1;
  background-color: transparent;
}

.single-post-slider .slick-arrow.slick-disabled:hover i,
.product-slider-for .slick-arrow.slick-disabled:hover i {
  color: #9D9DC1;
}

.single-post-slider img {
  width: 100%;
}
/*# sourceMappingURL=style.css.map */