.more-about-products-section,
.full-section-image-wrap {
    border-bottom: 1px solid $tertiary-color;
    padding-bottom: 82px;
    padding-top: 100px;
    @include max-mq ($ls) {
        padding-bottom: 45px;
        padding-top: 60px;
    }
    @include max-mq ($mb) {
        padding-bottom: 27px;
        padding-top: 40px;
    }
    .main-heading {
        max-width: 190px;
    }
    .more-about-row {
        align-items: center;
    }
}
#ourpromise {
    .main-heading {
        max-width: 100%;
    }
}

.full-section-image {
    .full-section-image-wrap {
        padding-bottom: 100px;
        @include max-mq ($ls) {
            padding-bottom: 45px;
        }
        @include max-mq ($mb) {
            padding-bottom: 40px;
        }
        img {
            margin: 0 auto;
            display: block;
        }
    }
}