.single-post-page {
    .social-share-options {
        position: absolute;
        @extend %left-calc-absolute;
        z-index: 999;
        background-color: $white;
        padding: 20px;
        @include max-mq ($mac + 10) {
            left: calc(50vw - ( 1200px / 2 ) - 10px);
        }
        @include max-mq ($lg + 1) {
            left: calc(50vw - ( 960px / 2 ) - 10px);
        }
        @include max-mq ($md ) {
            left: auto;
            position: static;
            display: flex;
            align-items: center;
            max-width: $container-width-narrow - 240px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 15px;
        }
        a {
            @include max-mq ($md ) {
                margin-bottom: 0;
                margin-right: 15px;
            }
        }

    }
}
.social-share-options {
    a {
        display: flex;
        height: 40px;
        align-items: center;
        justify-content: center;
        width: 40px;
        border-radius: 50%;
        border: 1px solid $primary-color;
        background-color: $white;
        @include transition-all;
        margin-bottom: 15px;
        &:last-child {
            margin-bottom: 0;
        }
        &:hover {
            background-color: $primary-color;
            svg {
                path {
                    fill: $white;
                }
            }
        }
    }
}