.navbar {
    background-color: $white;
    padding-bottom: 19px;
    padding-top: 19px;
    .navbar-nav {
        padding: 0;
    }
    .navbar-brand {
        max-width: 260px;
        @include max-mq ($ip) {
            max-width: 210px;
        }
    }
} 
nav {
    &.navbar {
        ul.navbar-nav {
            &#top-menu {
                li {
                    a {
                        font-size: 16px !important;
                        padding: 15px 15px;
                    }
                    &:last-of-type {
                        a {
                            border: 1px solid $primary-color;
                            background-color: $primary-color;
                            color: $white !important;
                            padding-left: 22px;
                            padding-right: 22px;
                            @include transition-all;
                            &:hover {
                                background-color: $white;
                                color: $primary-color !important;
                                text-decoration: none;
                            }
                        }
                    }
                }
                
            }
            li {
                a {
                    font-family: $secondary-font;
                    // font-weight: $font-weight-blc;
                    font-weight: $font-weight-r;
                    color: $primary-color !important;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
        }
    }
}