.footer-bs {
    padding-bottom: 100px;
}
.footer-social  {
    > div {
        display: inline-block;
        vertical-align: middle;
        margin: 0 7px;
        @include max-mq ($sm) {
            margin: 0 7px 0 0;
        }
    }
    a {
        color: $product-color-2;
        transition: color 0.5s;
        &:hover {
            color: $primary-color;
        }
    }
}
.footer-brand {
    p {
        margin: 0;
    }
}